.App {
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: 50%;
  flex-direction: column;
  padding: 12%;
}
.h1 {
  color: #30244d;
  font-weight: bolder;
}
.App__motto {
  color: #533e84;
}
.motto {
  font-weight: bold;
}
.h2 {
  color: #2d2248;
}
.input {
  border-radius: 5em;
  width: 90%;
  margin: 3%;
}
